$--font-path: 'element-ui/lib/theme-chalk/fonts';

@import 'element-ui/packages/theme-chalk/src/index';

// element-ui
.el-header {
  background: $--color-text-primary;
  color: $--color-white;

  .el-dropdown {
    color: $--color-white;
  }
}

.el-select,
.el-table {
  width: 100%;
}

// custom

body,
html {
  margin: 0;
}

.mt-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-bottom: 20px;
}
.mr-5 {
  margin-right: 5px;
}

.hover-primary {
  color: $--link-color;

  &:hover {
    color: $--link-hover-color;
  }
}

.h-full {
  height: 100%;
}

.pointer {
  cursor: pointer;
}
